body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* LADO ROJO */
.left {
  width: 50%;
  background: #8B0000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LADO LOGIN */
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #8B0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #a30000;
}

#error {
  color: red;
  font-size: 12px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.actions {
  margin-top: 10px;
}

.actions button {
  margin: 3px;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  background: #1f3a5f;
  color: white;
  cursor: pointer;
}
